<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강의페이지</title>
    <link rel="stylesheet" th:href="@{/css/강의페이지.css}">
</head>
<body>
<div class="container">
    <header th:replace="~{layout/fragments :: fragment-header}">
    </header>
    <nav class="sub__title">
        <ul class="nav__main">
            <li><a href="#"><img th:src="@{/images/item.png}"></a></li>
            <li><a href="#"><img th:src="@{/images/HTML5.png}"></a></li>
            <li><a href="#"><img th:src="@{/images/React.png}"></a></li>
            <li><a href="#"><img th:src="@{/images/Vue.png}"></a></li>
            <li><a href="#"><img th:src="@{/images/Python.png}"></a></li>
            <li><a href="#"><img th:src="@{/images/Java.png}"></a></li>
            <li><a href="#"><img th:src="@{/images/Node.png}"></a></li>
            <li><a href="#"><img th:src="@{/images/Spring.png}"></a></li>
            <li><a href="#"><img th:src="@{/images/Flutter.png}"></a></li>
            <li><a href="#"><img th:src="@{/images/C.png}"></a></li>
            <li><a href="#"><img th:src="@{/images/C++.png}"></a></li>
        </ul>
    </nav>
    <main class="main__page">
        <form action="/search" method="get" class="search__list__form">
            <input type="text" name="query" class="search__list__bar" placeholder="찾을 강의를 검색하세요!">
            <button type="submit" class="search__list__btn">
                <img th:src="@{/images/Search.png}" alt="검색" class="search__list__btn__img">
            </button>
        </form>
        <div class="course-list">
            <div class="course-item">
                <img src="path/to/your/course-image.png" alt="강의 이미지1" class="firstlecture__img}">
                <h3>강의 제목</h3>
                <p>강사 이름</p>
            </div>
            <div class="course-item">
                <img src="path/to/your/course-image.png" alt="강의 이미지2">
                <h3>강의 제목</h3>
                <p>강사 이름</p>
            </div>
            <div class="course-item">
                <img src="path/to/your/course-image.png" alt="강의 이미지3">
                <h3>강의 제목</h3>
                <p>강사 이름</p>
            </div>
            <div class="course-item">
                <img src="path/to/your/course-image.png" alt="강의 이미지4">
                <h3>강의 제목</h3>
                <p>강사 이름</p>
            </div>
            <div class="course-item">
                <img th="path/to/your/course-image.png" alt="강의 이미지5">
                <h3>강의 제목</h3>
                <p>강사 이름</p>
            </div>
            <div class="course-item">
                <img src="path/to/your/course-image.png" alt="강의 이미지6">
                <h3>강의 제목</h3>
                <p>강사 이름</p>
            </div>
        </div>
    </main>
</div>
<script th:replace="~{layout/fragments :: fragment-script}">
</script>
</body>
</html>
